@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter), system-ui, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
  width: 100%;
}


.sidebar.open {
  transform: translateX(0);
}

@media (min-width: 1024px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    height: 100vh;
    z-index: 10;
    transform: translateX(0);
  }

  .vacancies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}


@media (max-width: 1023px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 50;
  }

  .sidebar.open {
    transform: translateX(0);
  }
}